/* style.css */
header {
  background-color: #ffdb78;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  background-color: #a2bafc;
}

section, footer {
  margin-bottom: 2em;
}

h1, h2 {
  color: #a14d4d;
}